.card-img-top {
  height: 165px;
  object-fit: contain;
}
a {
  cursor: pointer;
}
.cart-product .product-table {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (max-width:1024px) {
  .card-img-top {
    height: auto;
  }
  .cart-product .product-table {
    height: auto;
  }
}